.inputBarContainer {
  position: relative;
  align-self: center;
  padding: 20px;
}

.inputBarImagePreviewContainer {
  position: absolute;
  bottom: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.inputBarImagePreviewContainer > img {
  max-width: 300px;
  max-height: 300px;
}

.inputBarImagePreviewContainer > button {
  width: fit-content;
  height: fit-content;
  border: none;
  padding: 0px 5px 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.1s;
}

.inputBarImagePreviewContainer > button:hover {
  transform: scale(1.2);
}

.inputBarImagePreviewContainer > button > img {
  width: 30px;
}

.inputBarContainer > form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputBarContainer > form > button {
  border: none;
}

.messageImageLabel > img,
.inputBarContainer > form > button > img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
  cursor: pointer;
}

.messageImageLabel > img:hover,
.inputBarContainer > form > button > img:hover {
  transform: scale(1.2);
}

.messageImageInputFile {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.messageImageInputText {
  width: 800px;
  height: 50px;
  text-indent: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.inputBarContainer > form > button > img {
  rotate: 45deg;
}

.inputBarContainer > form > .loader {
  border: 16px solid #d4d4d4;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  align-self: center;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .inputBarContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 5px;
    background-color: #f1f1f1;
    z-index: 1000;
  }

  .inputBarImagePreviewContainer {
    bottom: 60px;
    padding-right: 5px;
  }

  .inputBarImagePreviewContainer > img {
    max-width: 200px;
    max-height: 200px;
  }

  .inputBarImagePreviewContainer > button {
    margin-left: 10px;
  }

  .inputBarImagePreviewContainer > button > img {
    width: 20px;
  }

  .messageImageLabel > img,
  .inputBarContainer > form > button > img {
    width: 35px;
    height: 35px;
  }

  .inputBarContainer > form > label > img {
    padding-left: 5px;
  }

  .messageImageInputText {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }

  .inputBarContainer > form > .loader {
    width: 8px;
    height: 8px;
  }
}
