.inputBarContainer {
  align-self: center;
  padding: 20px;
}

.inputBarImagePreviewContainer {
  display: flex;
}

.inputBarImagePreviewContainer>img {
  max-width: 300px;
  max-height: 300px;
}

.inputBarContainer > form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inputBarContainer > form > button {
  border: none;
}

.messageImageLabel > img,
.inputBarContainer > form > button > img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
  cursor: pointer;
}

.messageImageLabel > img:hover,
.inputBarContainer > form > button > img:hover {
  transform: scale(1.2);
}

.messageImageInputFile {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.messageImageInputText {
  width: 800px;
  height: 50px;
  text-indent: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.inputBarContainer > form > button > img {
  rotate: 45deg;
}

@media (max-width: 500px) {
  .inputBarContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 5px;
    background-color: #f1f1f1;
    z-index: 1000;
  }

  .messageImageLabel > img,
  .inputBarContainer > form > button > img {
    width: 35px;
    height: 35px;
  }

  .messageImageInputText {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
}
