.categoryTopBarContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0px 10px 10px;
}

.categoryTopBarContainer > button {
  font-size: 15px;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
}

.categoryTopBarContainer > button:hover {
  color: #078646;
  background-color: #33cc9942;
}
